@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
        height: 100%; /* Asegura que el cuerpo ocupe todo el viewport */
        display: flex; /* Utiliza Flexbox para el layout principal */
        flex-direction: column; /* Organiza los elementos en una columna */
}  


body{
    font-family: 'Lato', ;
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
}


#logop{
    width: 170px;
    height: auto;
  
}
  

/* ////////////////////////////////////////    */
.menu{
    background-color: #592b74ad;
    color: #fff;
    height: 70px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto 0;
}


.menu__links{
    height: 100%;
    transition: transform .3s;
    display: flex;
}

.menu__item{
    
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #ffffff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #9961b8c7;
    border-radius: 10px;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #30153f93;
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #592b74ad;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background:#592b74ad;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #592b74ad;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}



/* Contenedor principal del contenido */
.hero_area {
    flex-shrink: 0; /* Evita que el header se reduzca */
}

.content-container {
    flex: 1; /* Hace que este contenedor crezca para llenar el espacio disponible */
    display: flex;
    flex-direction: row; /* Mantén el contenido principal y el aside organizados */
    overflow-y: auto;
}

/* Footer fijo al final */
footer {
    flex-shrink: 0; /* Impide que el footer se comprima */
    background: #ffffff;
    text-align: center;
    padding: 26px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Agrega un pequeño sombreado si deseas */
}

/*   FOOTTER  */


.single-content {
    text-align: right;
    padding: 15px 0;
}
.logomdconnecta{
    width: 170px;
    height: auto;
  
}


  
