.text-primary {
    color: #131313 !important; 
}


/* Título de la tarjeta */
.card-title {
    color: #0c0c0c; /* Azul primario */
    font-weight: bold;
    margin-bottom: 15px;
}

/* Select personalizado */
.form-select {
  
    border: 2px solid rgb(153, 219, 250);
    border-radius: 10px; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}

.form-select:focus {
    border-color: rgb(153, 219, 250);; 
    outline: none; 
    box-shadow: 0 0 8px rgba(2, 2, 2, 0.5); 
}

/* Botón */
.btn-primary {
    background-color: #7ec8eb; /* Azul primario */
    border: none; /* Sin borde */
    border-radius: 50px; /* Bordes redondeados */
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra del botón */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: #ceecf3; /* Azul más oscuro */
    transform: scale(1.05); /* Efecto de zoom */
}

/* Pie de página */
footer {
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
}

/* Estilo del contenedor */
.container {
    max-width: 600px;
    margin: 0 auto;
}

/* Animaciones (opcional) */
.card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transform: translateY(-5px); /* Efecto de elevación */
}

.header_section{
background-color: rgb(255, 255, 255);
}



.main-logo{
    display: block;
    margin: 50px auto; 
    max-width: 700px;
    width: 1200;
    height: auto;
}



.txt{
    font-family: Lato; font-size: 14px;
}


.txth2{
    font-family: Lato; font-size: 35px;
    color: #000000;
}

.txth1{
    font-family: Lato; font-size: 45px;
}








/*  Info Empresa   */ 
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .form-row label {
    flex: 0 0 140px;
   font-family: Lato;
    color: #000000;
  }

  .input-small{
    width: 50px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input-m{
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input-fo{
    display: block;
    
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .input-fo:disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
}
  .input-mt{
    width: 300px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input-mo{
    width: 100px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input-larg{
    width: 900px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-row select {
    
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .password-container {
    display: flex;
    align-items: center;
  }

  .password-container input {
    flex: 1;
  }

  .password-container button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .password-container button:hover {
    background-color: #0056b3;
  }

  .form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }

  .btn-save {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-save:hover {
    background-color: #218838;
  }

  .btn-cancel {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-probarco {
    background-color: #5292f1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }



  .btn-cancel:hover {
    background-color: #c82333;
  }

  /*  Mensaje error INPUT */
  .input-error {
    border-color: red;
    background-color: #ffe6e6;
  }
  .input-error::placeholder {
    color: red;
  }


  /* MODAL Clientes */

  
	.modal-content {
		padding: 15px;
		font-size: 13px;
		/* Reduce el tamaño del texto */
	}

	.modal-header {
		padding: 10px 15px;
	}

	.modal-title {
		font-size: 16px;
		font-weight: Lato;
	}

	.modal-static {
		background-color: #f8f9fa;
		padding: 10px;
		border-bottom: 1px solid #dee2e6;
		margin-bottom: 10px;
	}

	.modal-static .form-label {
		font-size: 12px;
		font-weight: 600;
	}

	.form-control-sm {
		font-size: 12px;
		padding: 5px 10px;
	}

	.btn-group .btn {
		font-size: 12px;
		padding: 5px 10px;
	}

	.section-title {
		font-size: 14px;
		margin-bottom: 10px;
		font-weight: Lato;
	}
