
  /* Estilo general de los modales */


  .text-primary {
    color: #131313 !important; 
}


.txt{
  font-family: Lato; font-size: 14px;
}


.txth2{
  font-family: Lato; font-size: 50px;
  color: #030203;
}

.txth1{
  font-family: Lato; font-size: 45px;
}






/* Estilo general de los modales */
.custom-modal-content {
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 8px 15px rgba(107, 107, 107, 0.801); /* Sombra suave */
  background-color: #f8f9fa; /* Fondo claro */
  outline: 2px solid rgb(153, 219, 250);
  border: none;
}

/* Título del modal */
.custom-modal-body .custom-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #343a40; /* Gris oscuro */
  margin-bottom: 20px;
}

/* Inputs del formulario */
.custom-modal-body input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ced4da; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Botones del modal */
.custom-modal-footer .custom-btn {
  background-color: rgb(132, 169, 172);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.2s;
}

/* Botón confirmar */
.custom-modal-footer .custom-btn-primary {
  background-color: #4f8997; /* Azul */
  border: none;
  color: #fff;
}

.custom-modal-footer .custom-btn-primary:hover {
  background-color: #e6e6e6; /* Azul más oscuro */
  transform: scale(1.05); /* Efecto de zoom */
}

/* Botón cancelar */
.custom-modal-footer .custom-btn-danger {
  background-color: #dc3545; /* Rojo */
  border: none;
  color: #fff;
}

.custom-modal-footer .custom-btn-danger:hover {
  background-color: #c82333; /* Rojo más oscuro */
  transform: scale(1.05); /* Efecto de zoom */
}

/* Animaciones para el modal */
.custom-modal.fade .custom-modal-dialog {
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.custom-modal.show .custom-modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

/* Fondo del modal */
.custom-modal-backdrop.show {
  background-color: rgba(92, 92, 92, 0.6); /* Fondo oscuro traslúcido */
}

/* Espaciado interno */
.custom-modal-body label {
  font-weight: bold;
  color: #495057; /* Gris oscuro */
  margin-bottom: 5px;
  display: block;
}

.custom-modal-body form {
  margin-top: 10px;
}
