/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #6061618f;
    color: #333;
  }
  
  /* Header Section */
  .header_section {
    background-color: #343a40;
    padding: 1px 0;
  }

  #logop {

    width: 120px;
    height: 80px;
    
    margin-bottom: 20px;
    border-radius: 10px;
}


  

  .custom_nav-container .nav_search-btn {
    width: 15px;
    height: 10px;
    padding: 0;
    border: none;
  }

  .header_section .nav-link {
    color: #f8f9fa;
    margin: 0 10px;
    transition: color 0.3s;
    font-size: 24px;
  }
  
  .header_section .nav-link:hover {
    color: #403985;
  } 
  


  /* Slider Section */
  .slider_section {
    background-color: #ffffff;
    padding: 30px 0;
  }
  
  .slider_detail-box {
    text-align: left;
    color: #333;
  }
  
  .slider_detail-box h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .slider_detail-box span {
    color: #6e6e6e;
  }
  
  .slider_detail-box p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btn-box .btn-1 {
    background-color: #565657;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  
  .btn-box .btn-1:hover {
    background-color: #616263;
  }
  
  .btn-box .btn-2 {
    background-color: #6c757d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn-box .btn-2:hover {
    background-color: #5a6268;
  }
  
  .slider_img-box img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  /* Carousel Indicators */
  .carousel-indicators li {
    background-color: #343a40;
    border: none;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
  }
  
  .carousel-indicators .active {
    background-color: #007bff;
  }
  