body{
    background-color: #7e7d7d;
}

#menuPrincipal{
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
}

#logo{
    background-color: #dfdede;
    width: 80px;
}

#btns-menu {
    color: #dfdede;
    height: 55px;
    font-size: 19px;
}

#btns-menu:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
#Contenido{
    background-color: #dfdede;
    height: 500px;
}
#modalEmpresas{
    text-align: center;
    align-items: center;
}
#divEmpresas{
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
    width: 100%;
    height:45%;
    display: flex;
    justify-content: space-around; 


    /*border: 1px solid black;
    border-radius: 10px;*/
}
#botonEmpresa {
    height: 55px;
    font-size: 19px;
}

#botonEmpresa:hover {
    background-color: rgba(255, 255, 255, 0.3);
}